# Node.js & npm
node_modules/
npm-debug.log*

# Dependency directories
package-lock.json

# Build output
/dist
/build

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# IDE/editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Uploaded images (runtime data)
public/uploads/
